{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}KassuaCMS{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/css/base.css"/>
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="sidebar">
        {% block sidebar %}
            <h1>Menu</h1>
            <ul>
                <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
            </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
</body>
</html>
